
:root{
    --color-background: #10181E;
    --color-header: #252C3A;
    --color-text: #ffffff;
    --color-block: #AEE5D8;
}
p, label, fieldset{
    color: var(--color-text);
}

.nav{
    background-color: var(--color-header);
    display: flex;
}

h1, h2 {
    text-align: center;
    color: #BCF4F5;
    
}

header{
    background-color: var(--color-header);
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: var(--color-header);
    margin: auto 0px 0px 0px;
    padding:5px;
}

a{
    padding: 2px;
}

.links{
    background-color: grey;
    max-width: 100px;
    border-radius: 10px;
    padding: 0px 5px;
    margin: 5px;
    text-align:center;
}

.links:hover{
    background-color: white;
}

body {
  background-color: var(--color-background);
  font-family: sans-serif; 
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
    background-color: #10181E;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px;
    
}

.deck{
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    border-radius: 10px;
    min-width: 200px;
    max-width: 300px;
    margin: 0px 5px 40px;

}
.deck:hover {
  transform: translateY(-1px) scale(1.05);
}

.deck1{
    background: linear-gradient(90deg, rgb(48, 139, 9), 
    rgb(247, 252, 182), rgb(61, 171, 226), rgba(19, 31, 15, 0.866));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8); 
}

.deck2{
    background: linear-gradient(90deg, 
    rgb(48, 139, 9),
    rgba(66, 37, 4, 0.866),
    rgb(61, 171, 226) );
    box-shadow: 0 0 20px 0;
}

.deck3{
    background: linear-gradient(90deg, rgb(48, 139, 9), 
    rgb(247, 252, 182), rgb(61, 171, 226));
    
}
.deck4{
    background: linear-gradient(90deg, rgb(66, 37, 4, 0.866), rgb(192, 20, 20), rgb(66, 37, 4, 0.866))
}

.deckTitle{
    background-color: var(--color-header);
    border-radius: 10px;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.textbox{
    
    width: 100%;
    height: auto;
    max-height: 200px;
    background-color: #252C3A;
    padding: 5px 0px;
    
    
}

table, th, td{
    color: var(--color-text);
    border: solid;
    border-color: var(--color-block);
    border-collapse: collapse;
    padding: 10px;
}

.textBox{
    background-color: var(--color-block);
    color: #000000; 
    padding: 5px;
    border-radius: 10px;
}



